@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Parts Picker Corporation<br />
    A projects on the web, 2021<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">There is no support</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">There is no marketing</a>
</address>