@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parts Picker</h1>
    <p class="lead">Choose from a wide variety of components and build your PC from the ground up. 
                    Pick from any of the categories to start exploring what components might suit your needs.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CPU</h2>
        <p>
            We offer a wide variaty of CPUs from the most respectable sellers. We only work with the best in the industry.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44309/CPU">Browse CPUs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video Card</h2>
        <p>Asus, MSI, nVidia. These are just some of the sellers manufacturers selling their products on our store, our video cards are not only affordable but renown as well.</p>
        <p><a class="btn btn-default" href="https://localhost:44309/VideoCard">Browse Video Cards &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Motherboards</h2>
        <p>Our motherboards are up to date and at fair prices. We offer a wide selection of motherbaords from top manufacturers such as Asus and MSI.</p>
        <p><a class="btn btn-default" href="https://localhost:44309/Motherboard">Browse Motherboards &raquo;</a></p>
    </div>
</div>